.details-card {
  max-width: 900px;
  margin: 24px auto;
  padding: 16px;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 24px;
}

.details-card img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

/* Override Angular Material primary button text */
:host ::ng-deep .mat-mdc-raised-button.mat-primary {
  color: #020817 !important; 
}

/* House colors */
.gryffindor {
  background: #7f1d1d;
}

.slytherin {
  background: #14532d;
}

.ravenclaw {
  background: #1e3a8a;
}

.hufflepuff {
  background: #854d0e;
}

.unknown {
  background: #374151;
}


.details-content ul {
  margin-top: 4px;
}

@media (max-width: 768px) {
  .details-card {
    grid-template-columns: 1fr;
  }
}